.headerMain {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav {
    height: 80px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navMenuList {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navMenuList li {
    color: black;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.3s ease;
}

.navMenuList li:hover {
    transform: scale(1.1);
}

.navSocialList {
    list-style: none;
    display: flex;
    gap: 1.25rem;
}

/* สไตล์สำหรับ Social Icon button */
.facebookIcon,
.twitterIcon,
.instagramIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* เมื่อ hover (เลื่อนเมาส์ไปที่ปุ่ม) */
.facebookIcon:hover,
.twitterIcon:hover,
.instagramIcon:hover {
    transform: scale(1.1);
}


/* SVG icon styling */
.facebookIcon svg,
.twitterIcon svg,
.instagramIcon svg {
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 1280px) {
    .nav {
        width: 1024px;
    }
}