.pagination_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--pagination-gap);
}

.pagination_PrevBtn {
    cursor: pointer;
    width: var(--pagination-width);
    height: var(--pagination-height);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    font-size: var(--pagination-font-size);
    font-weight: bold;
}

.pagination_PrevBtn:disabled {
    cursor: not-allowed;
}

.pagination_Dots {
    width: var(--pagination-width);
    height: var(--pagination-height);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    font-size: var(--pagination-font-size);
    font-weight: bold;
}

.pagination_PageBtn {
    width: var(--pagination-width);
    height: var(--pagination-height);
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    font-size: var(--pagination-font-size);
    font-weight: bold;
}

.active {
    color: white;
    cursor: not-allowed;
    background: black;
}

.pagination_PageBtn:disabled {
    color: white;
    cursor: not-allowed;
    background: black;
}

.pagination_NextBtn {
    cursor: pointer;
    width: var(--pagination-width, 64px);
    height: var(--pagination-height, 64px);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: var(--pagination-border-radius, 16px);
    font-size: var(--pagination-font-size, 18px);
    font-weight: bold;
}

.pagination_NextBtn:disabled {
    cursor: not-allowed;
}