.footerMain {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1280px;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.navFirstCol img {
    margin-bottom: 16px;
}

.navFirstCol p {
    font-size: 14px;
}

.navSecCol ul {
    display: flex;
    text-decoration: none;
    gap: 48px;
}

.navSecCol ul li {
    font-weight: 500;
    font-size: 14px;
    transition: all 0.3s ease;
}

.navSecCol ul li:hover {
    transform: scale(1.1);
}

.copyRightContainer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerDetail {
    font-size: 14px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.footerDetailSpan {
    color: #FF7967;
}

.navSocialList {
    display: flex;
    gap: 32px;
}

.facebookIcon,
.twitterIcon,
.instagramIcon {
    padding: 0 16px;
    width: 20px;
    height: 20px;
}

.facebookIcon svg,
.twitterIcon svg,
.instagramIcon svg {
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 1280px) {
    .footerMain {
        width: 1024px;
        margin: 0 80px;
    }
}