.footerMain {
    border: 1px solid black;
    margin: 0 3rem;
}

.navContainer {
    height: 7.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    padding: 1rem 0;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
}

.navMenuList {
    display: flex;
    text-decoration: none;
    gap: 2rem;
}

.navMenuList li {
    font-weight: 500;
    font-size: 14px;
    transition: all 0.3s ease;
}

.navMenuList li:hover {
    transform: scale(1.1);
}