.footerMain {
    margin: 0 3rem;
}

.navContainer {
    height: 7.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    padding: 1rem 0;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
}

.navDetail{
    font-size: 14px;
}

.navMenuList {
    display: flex;
    text-decoration: none;
    gap: 2.5rem;
}

.navMenuList li {
    font-weight: 500;
    font-size: 14px;
    transition: all 0.3s ease;
}

.navMenuList li:hover {
    transform: scale(1.1);
}

.copyRightContainer {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerDetail {
    font-size: 14px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    display: flex;
}

.footerDetail span{
    color: #FF7967;
}

.navSocialList {
    justify-content: end;
    align-items: center;
    list-style: none;
    display: flex;
    gap: 1.25rem;
}

.facebookIcon, .twitterIcon, .instagramIcon {
    
    
    padding: 0 1rem;
    width: 20px;
    height: 20px;
}

.facebookIcon svg, .twitterIcon svg, .instagramIcon svg {
    width: 18px;
    height: 18px;
}