.footerMain {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: clamp(20rem, 0rem + 100vw, 80rem);
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(1.5rem, 1rem + 2.5vw, 3rem);
}

.navFirstCol img {
    margin-bottom: 1rem;
}

.navFirstCol p {
    font-size: clamp(0.875rem, 1.0417rem + -0.2083vw, 1rem);
    text-wrap: pretty;
}

.navSecCol ul {
    display: flex;
    text-decoration: none;
    gap: clamp(1.5rem, 1rem + 2.5vw, 3rem);
}

.navSecCol ul li {
    font-weight: 500;
    font-size: clamp(0.875rem, 1.0417rem + -0.2083vw, 1rem);
    transition: all 0.3s ease;
}

.navSecCol ul li:hover {
    transform: scale(1.1);
}

.copyRightContainer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerDetail {
    font-size: 14px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.footerDetailSpan {
    color: #FF7967;
}

.navSocialList {
    display: flex;
    gap: clamp(1.5rem, 1.3333rem + 0.8333vw, 2rem);
}

.facebookIcon,
.twitterIcon,
.instagramIcon {
    padding: 0 16px;
    width: 20px;
    height: 20px;
}

.facebookIcon svg,
.twitterIcon svg,
.instagramIcon svg {
    width: 18px;
    height: 18px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .footerMain {
        margin: 0 1rem;
    }

    .navSecCol ul {
        gap: 1.5rem
    }

    .navSecCol ul li {
        transition: none;
        text-align: center;
    }

    .navSecCol ul li:hover {
        transform: none;
    }

    .facebookIcon,
    .twitterIcon,
    .instagramIcon {
        width: 24px;
    }

    .facebookIcon svg,
    .twitterIcon svg,
    .instagramIcon svg {
        width: 24px;
        height: 24px;
    }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
    .navContainer {
        display: flex;
        flex-direction: column;
    }

    .navFirstCol {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navFirstCol p {
        margin-bottom: 1rem;
        text-align: center;

    }

    .navSecCol ul {
        display: flex;
        text-decoration: underline;
        justify-self: center;
        gap: 1rem 3rem;
    }

    .navSecCol ul li {
        transition: none;
        text-align: center;
    }

    .navSecCol ul li:hover {
        transform: none;
    }

    .copyRightContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: unset;
        margin-bottom: 0.5rem;
    }

    .footerDetail {
        left: 0;
        transform: translateX(0);
    }

    .facebookIcon,
    .twitterIcon,
    .instagramIcon {
        width: 24px;
    }

    .facebookIcon svg,
    .twitterIcon svg,
    .instagramIcon svg {
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: 480px) {
    .navContainer {
        display: flex;
        flex-direction: column;
    }

    .navFirstCol {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navFirstCol p {
        margin-bottom: 1rem;
        text-align: center;

    }

    .navSecCol ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-decoration: underline;
        justify-self: center;
        gap: 1rem 3rem;
    }

    .navSecCol ul li {
        transition: none;
        text-align: center;
    }

    .navSecCol ul li:hover {
        transform: none;
    }

    .copyRightContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: unset;
        margin-bottom: 0.5rem;

    }

    .footerDetail {
        left: 0;
        transform: translateX(0);
    }

    .facebookIcon,
    .twitterIcon,
    .instagramIcon {
        padding: 0;
        width: 24px;
    }

    .facebookIcon svg,
    .twitterIcon svg,
    .instagramIcon svg {
        width: 24px;
        height: 24px;
    }
}