@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.adsBadge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    min-width: 400px;
    height: 434px;
    padding: 40px;
    background: linear-gradient(180deg, #357355 0%, #1D483B 100%);
    overflow: hidden;
}

.adsBadge>img {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.adsBadgeBackGround {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.adsBadgeBackGround img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.adsBadge h1 {
    font-family: 'Lobster', cursive;
    line-height: 1.2;
    color: white;
    font-size: 24px !important;
    font-weight: 100 !important;
    z-index: 2;
    position: relative;
}

.adsBadge p {
    position: relative;
    z-index: 3;
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1280px) {
    .adsBadge {
        min-width: 320px;
        height: 364px;
    }

    .adsBadge h1 {
        font-size: 20px !important;
    }

    .adsBadge p {
        font-size: 12px !important;
    }
}