.homeContainer{
    margin: 1.5rem 3rem;
}

.featureRecipeContainer {
    padding: 1rem;
    display: flex;
    height: 100%;
    background-color: #E7FAFE;
    border-radius: 2rem;
}

.hotRecipesTopic {
    display: flex;
    padding: 0.7rem 1.2rem;
    gap: 0.75rem;
    background-color: white;
    border-radius: 1.5rem;
    width: max-content;
    box-shadow: 10 20 40 rgba(0, 0, 0, 0.1);
}

.featureRecipeFirstCol, .featureRecipeSecCol{
    margin: 1rem 1.5rem;
    flex: 1;
}

.featureRecipeTopic {
    margin-top: 1.5rem;
    font-size: 50px;
    font-weight:600;
    line-height: 1.2;
} 
.featureRecipeDetail {
    margin-top: 1.5rem;
    font-size: 16px;
    color: gray;
}

.featureRecipeType {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.firstTypeButton, .secondTypeButton {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 2rem;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.firstTypeButton svg, .secondTypeButton svg{
    width: 20px;
    height: 20px;
}

.featureRecipeProfile {
    margin-top: 5rem;
}


