.homeContainer {
    margin: 30px 80px;
}

/* Carousel Container */
.carouselWrapper {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin-bottom: 160px;
}

.recipesBadge {
    position: absolute;
    top: 50;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.carouselContainer {
    overflow: hidden;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.carouselTrack {
    display: flex;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.featureRecipeContainer {
    display: flex;
    min-width: 100%;
    align-items: center;
    background: #E7FAFE;
}

.featureRecipeFirstCol {
    flex: 1;
    max-width: 620px;
    width: 100%;
    height: 100%;
    padding: 45px 45px;
}

.featureRecipeSecCol {
    flex: 1;
    max-width: 660px;
    width: 100%;
    height: 100%;
}

.recipeImageContainer {
    width: 100%;
    height: 100%;
    border-radius: 0 24px 24px 0;
}

.hotRecipesTopic {
    display: flex;
    align-items: center;
    width: max-content;
    border-radius: 24px;
    gap: 8px;
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.hotRecipesTopic p {
    font-size: 14px;
    font-weight: 500;
}

.featureRecipeTopic {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
}

.featureRecipeDetail {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 24px;
}

.featureRecipeType {
    margin-bottom: 48px;
    display: flex;
    gap: 16px;
}

.firstTypeButton,
.secondTypeButton {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.firstTypeButton svg,
.secondTypeButton svg {
    width: 20px;
    height: 20px;
}

.featureRecipeBlog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featureRecipeProfile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.featureRecipeProfile img {
    border-radius: 50%;
    object-fit: cover;
}

.authorInfo {
    display: flex;
    flex-direction: column;
}

.authorName {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: #333;
}

.recipeDate {
    font-size: 12px;
    color: #999;
    margin: 2px 0 0 0;
}

.viewRCButton {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    background-color: black;
    color: white;
    font-size: 16;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 12px;
}

.viewRCButton svg {
    fill: white;
    width: 25px;
    height: 25px;
}

.viewRCButton:hover {
    transform: scale(1.1);
}

/* Categories Container */
.categoriesContainer {
    margin: 120px auto;

}

.categoriesTopic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.categoriesTopic h1 {
    font-size: 48px;
    font-weight: 600;
}

.categoriesTopic button {
    font-size: 14px;
    font-weight: 600;
    background: #E7FAFE;
    padding: 12px 24px;
    border-radius: 16px;
    transition: all 0.3s ease;
}

.categoriesTopic button {
    transform: scale(1.1);
}

.categoriesList ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoriesBreakfast,
.categoriesVegan,
.categoriesMeat,
.categoriesDessert,
.categoriesLunch,
.categoriesChocolate {
    font-size: 18px;
    font-weight: 600;
    border-radius: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    cursor: pointer;
}

.categoriesBreakfast {
    background: linear-gradient(180deg, white 0%, rgba(112, 130, 70, 0.1) 100%);
}

.categoriesVegan {
    background: linear-gradient(180deg, white 0%, rgba(108, 198, 63, 0.1) 100%);
}

.categoriesMeat {
    background: linear-gradient(180deg, white 0%, rgba(204, 38, 27, 0.1) 100%);
}

.categoriesDessert {
    background: linear-gradient(180deg, white 0%, rgba(240, 158, 0, 0.1) 100%);
}

.categoriesLunch {
    background: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.1) 100%);
}

.categoriesChocolate {
    background: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.1) 100%);
}

.categoriesBreakfast img,
.categoriesVegan img,
.categoriesMeat img,
.categoriesDessert img,
.categoriesLunch img,
.categoriesChocolate img {
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin-left: 42px;
}

/* Simple and tasty recipes */
.simpleAndTastyContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.simpleAndTastyContainer h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 24px;
}

.simpleAndTastyContainer p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 24px;
}

.simpleAndTastyCardContainer {
    border: 1px solid black;
    flex: 1;
}