@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.homeContainer {
    margin: 30px auto;
    width: 1280px;
}

/* Carousel Container */
.carouselWrapper {
    position: relative;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin-bottom: 160px;
}

.carouselContainer {
    overflow: hidden;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.carouselTrack {
    display: flex;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.featureRecipeContainer {
    display: flex;
    min-width: 100%;
    align-items: center;
    background: #E7FAFE;
    position: relative;
}

.recipesBadge {
    position: absolute;
    top: 50px;
    left: 44%;
    z-index: 10;
}

.featureRecipeFirstCol {
    flex: 1;
    max-width: 620px;
    width: 100%;
    height: 100%;
    padding: 45px 45px;
}

.featureRecipeSecCol {
    flex: 1;
    max-width: 660px;
    width: 100%;
    height: 100%;
}

.recipeImageContainer {
    width: 100%;
    height: 100%;
    border-radius: 0 24px 24px 0;
}

.hotRecipesTopic {
    display: flex;
    align-items: center;
    width: max-content;
    border-radius: 24px;
    gap: 8px;
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.hotRecipesTopic p {
    font-size: 14px;
    font-weight: 500;
}

.featureRecipeTopic {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
}

.featureRecipeDetail {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 24px;
}

.featureRecipeType {
    margin-bottom: 48px;
    display: flex;
    gap: 16px;
}

.firstTypeButton,
.secondTypeButton {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.firstTypeButton svg,
.secondTypeButton svg {
    width: 20px;
    height: 20px;
}

.featureRecipeBlog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featureRecipeProfile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.featureRecipeProfile img {
    border-radius: 50%;
    object-fit: cover;
}

.authorInfo {
    display: flex;
    flex-direction: column;
}

.authorName {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: #333;
}

.recipeDate {
    font-size: 12px;
    color: #999;
    margin: 2px 0 0 0;
}

.viewRCButton {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    background-color: black;
    color: white;
    font-size: 16;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 12px;
}

.viewRCButton svg {
    fill: white;
    width: 25px;
    height: 25px;
}

.viewRCButton:hover {
    transform: scale(1.1);
}

/* Categories Container */
.categoriesContainer {
    margin: 120px auto;

}

.categoriesTopic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.categoriesTopic h1 {
    font-size: 48px;
    font-weight: 600;
}

.categoriesTopic button {
    font-size: 14px;
    font-weight: 600;
    background: #E7FAFE;
    padding: 12px 24px;
    border-radius: 16px;
    transition: all 0.3s ease;
}

.categoriesTopic button {
    transform: scale(1.1);
}

.categoriesList ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoriesBreakfast,
.categoriesVegan,
.categoriesMeat,
.categoriesDessert,
.categoriesLunch,
.categoriesChocolate {
    font-size: 18px;
    font-weight: 600;
    border-radius: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    cursor: pointer;
}

.categoriesBreakfast {
    background: linear-gradient(180deg, white 0%, rgba(112, 130, 70, 0.1) 100%);
}

.categoriesVegan {
    background: linear-gradient(180deg, white 0%, rgba(108, 198, 63, 0.1) 100%);
}

.categoriesMeat {
    background: linear-gradient(180deg, white 0%, rgba(204, 38, 27, 0.1) 100%);
}

.categoriesDessert {
    background: linear-gradient(180deg, white 0%, rgba(240, 158, 0, 0.1) 100%);
}

.categoriesLunch {
    background: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.1) 100%);
}

.categoriesChocolate {
    background: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.1) 100%);
}

.categoriesBreakfast img,
.categoriesVegan img,
.categoriesMeat img,
.categoriesDessert img,
.categoriesLunch img,
.categoriesChocolate img {
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin-left: 42px;
}

/* Simple and tasty recipes */
.simpleAndTastyHeader {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.simpleAndTastyHeader h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 24px;
}

.simpleAndTastyHeader p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 76px;
}

.simpleAndTastyCardListOne {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.simpleAndTastyCardListTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.adsBadge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    min-width: 400px;
    height: 434px;
    padding: 40px;
    background: linear-gradient(180deg, #357355 0%, #1D483B 100%);
    overflow: hidden;
}

.adsBadge img {
    z-index: 2;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.adsBadgeBackGround {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.adsBadgeBackGround img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.adsBadge h1 {
    font-family: 'Lobster', cursive;
    line-height: 1.2;
    color: white;
    font-size: 24px;
    z-index: 2;
    position: relative;
}

.adsBadge p {
    position: relative;
    z-index: 2;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.simpleAndTastyCardListThree {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Learn More Container */
.learnMoreContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 143px;
    margin-bottom: 160px ;
    width: 1280px;
}

.learnMoreFirstCol {
    position: relative;
    transform: translateY(50px);
    flex: 1;
    max-width: 530px;
    width: 100%;
    height: 100%;
}

.learnMoreSecCol {
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 710px;
    height: 597px;
}

.learnMoreFirstCol h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 24px;
}

.learnMoreFirstCol p {
    font-size: 16px;
    margin-bottom: 72px;
    color: rgba(0, 0, 0, 0.6);
}

.learnMoreFirstCol button {
    padding: 21px 53px;
    font-size: 14px;
    font-weight: 600;
    background: black;
    color: white;
    border-radius: 16px;
}

.learnMoreSecCol img {
    position: absolute;
    bottom: 0;
    right: 50px;
    z-index: 2;
    height: 100%;
}

.learnMoreSecColBackGround {
    background: linear-gradient(180deg, white 0%, #E7F9FD 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 651px;
    height: 500px;
    border-radius: 30px;
    z-index: 1;
}

/* Check Out Container */
.checkOutContainer {
    background: linear-gradient(180deg, white 0%, #E7F9FD 100%);
    text-align: center;
    margin-bottom: 160px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 0 calc(50vw - 640px);
}

.checkOutContainer h1 {
    font-size: 48px;
    font-weight: 600;
}

.checkOutContainer p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.checkOutInstagram {
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkOutInstagram img {
    width: 290px;
    height: auto;
}

.visitInstagramBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    background: black;
    border-radius: 16px;
    width: 230px;
    padding: 16px 32px;
    margin-bottom: 80px;
}

.visitInstagramBtn svg {
    fill: white;
    width: 24px;
    height: 24px;
}

/* Delicious Recipe Container */

.deliRecipeContainer {
    margin-bottom: 160px;
}

.deliRecipeTopic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    gap: 153px;
}

.deliRecipeTopic h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.1;
}

.deliRecipeTopic p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);

}

.deliRecipeBodyFirstRow,
.deliRecipeBodySecRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deliRecipeBodyFirstRow {
    margin-bottom: 40px;
}

.deliRecipeBodyFirstRow > div,
.deliRecipeBodySecRow > div {
    min-width: 290px !important;
    height: 316px !important;
    background: white !important;
    padding: 0 !important;
}

.deliRecipeBodyFirstRow h1, .deliRecipeBodySecRow h1  {
    font-size: 18px !important;
}

.deliRecipeBodyFirstRow div, .deliRecipeBodySecRow div {
    font-size: 14px !important;
}

/* Inbox Container */
.inBoxContainer {
    margin-bottom: 160px;
    background: #E7F9FD;
    border-radius: 60px;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inBoxTopic {
    text-align: center;
    padding: 80px auto;
}

.inBoxTopic h1{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 24px;
}

.inBoxTopic p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}
