.card {
    padding: 16px;
    background: linear-gradient(180deg, white 0%, #E7F9FD 100%);
    border-radius: 30px;
    min-width: 400px;
    height: 434px;
    margin-right: 40px;
}

.cardImage {
    position: relative;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 24px;
    width: 100%;
}

.cardImageHeart{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
    background: white;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.cardImageHeart:hover svg {
    transform: scale(1.1);
}

.cardImageHeart.liked svg {
    fill: #FF6363;
}

.cardImageHeart svg {
    fill: #DBE2E5;
    width: 24px;
    height: 24px;
}

.cardContent {
    margin-bottom: 24px;
}

.cardContent h1 {
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
    color: black;
}

.cardInfo {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.cardInfoTypeOne,
.cardInfoTypeTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: rgba(0, 0, 0, 0.6);
}

.cardInfoTypeOne svg,
.cardInfoTypeTwo svg {
    width: 20px;
    height: 20px;
}