/* Vertical */
.card {
    padding: 16px;
    background: linear-gradient(180deg, white 0%, #E7F9FD 100%);
    border-radius: 30px;
    min-width: 400px;
    height: 434px;
    margin-right: 40px;
}

.cardImage {
    height: 100%;
    max-height: var(--card-image-height, 250px);
    position: relative;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 24px;
    width: 100%;
}

.cardImageHeart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
    background: white;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.cardImageHeart:hover svg {
    transform: scale(1.1);
}

.cardImageHeart.liked svg {
    fill: #FF6363;
}

.cardImageHeart svg {
    fill: #DBE2E5;
    width: 24px;
    height: 24px;
}

.cardContent {
    margin-bottom: 24px;
}

.cardContent h1 {
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
    color: black;
}

.cardInfo {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.cardInfoTypeOne,
.cardInfoTypeTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: rgba(0, 0, 0, 0.6);
}

.cardInfoTypeOne svg,
.cardInfoTypeTwo svg {
    width: 20px;
    height: 20px;
}

/* Horizontal */
.cardHorizontal {
    display: flex;
    max-width: 840px;
    align-items: center;
    gap: 40px;
}

.cardHorizontal_Image {
    position: relative;
    width: 290px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
}

.cardHorizontal_Image img {
    object-fit: cover;
}

.cardHorizontal_Topic {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.cardHorizontal_Detail {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 32px;
}

.cardHorizontal_Footer {
    display: flex;
    align-items: center;
}

.cardHorizontal_Author {
    display: flex;
    align-items: center;
    gap: 16px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 24px;
}

.cardHorizontal_Author span {
    font-size: 16px;
    font-weight: bold;
}

.cardHorizontal_Date {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    padding-Left: 24px;
}

@media screen and (max-width: 1280px) {

    /* Vertical */
    .card {
        min-width: 320px;
        height: 364px;
        margin-right: 40px;
    }

    .cardImage {
        height: 200px;
    }

    .cardImageHeart {
        top: 12px;
        right: 12px;
        width: 42px;
        height: 42px;
    }

    .cardContent h1 {
        font-size: 20px;
    }
 
}