/* Vertical */
.card {
    padding: 16px;
    background: linear-gradient(180deg, white 0%, #E7F9FD 100%);
    border-radius: 30px;
    min-width: 400px;
    height: auto;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

.cardImage {
    height: var(--card-image-height);
    max-height: var(--card-image-height);
    flex-shrink: 0;
    position: relative;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 24px;
    width: 100%;
}

.cardImageHeart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
    background: white;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.cardImageHeart:hover svg {
    transform: scale(1.1);
}

.cardImageHeart.liked svg {
    fill: #FF6363;
}

.cardImageHeart svg {
    fill: #DBE2E5;
    width: 24px;
    height: 24px;
}

.cardContent {
    margin-bottom: 24px;
    flex: 1;
}

.cardContent h1 {
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
    color: black;
}

.cardInfo {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.cardInfoTypeOne,
.cardInfoTypeTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: rgba(0, 0, 0, 0.6);
}

.cardInfoTypeOne svg,
.cardInfoTypeTwo svg {
    width: 20px;
    height: 20px;
}

/* Horizontal */
.cardHorizontal {
    display: flex;
    max-width: 840px;
    align-items: center;
    gap: 40px;
    min-height: 200px;    
}

.cardHorizontal_Image {
    position: relative;
    width: 290px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
}

.cardHorizontal_Image img {
    object-fit: cover;
}

.cardHorizontal_Content {
    display: flex;             
    flex-direction: column;    
    justify-content: center;   
    height: 200px;             
}

.cardHorizontal_Topic {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 60px;
}

.cardHorizontal_Detail {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 32px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    flex: 1;
    margin-bottom: 0;
}

.cardHorizontal_Footer {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.cardHorizontal_Author {
    display: flex;
    align-items: center;
    gap: 16px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 24px;
}

.cardHorizontal_Author img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

.cardHorizontal_Author span {
    font-size: 16px;
    font-weight: bold;
}

.cardHorizontal_Date {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    padding-Left: 24px;
}

@media screen and (max-width: 1280px) {

    /* Vertical */
    .card {
        min-width: 320px;
        height: auto;
        margin-right: 40px;
    }

    .cardImage {
        height: var(--card-image-height);
        max-height: var(--card-image-height);
    }

    .cardImageHeart {
        top: 12px;
        right: 12px;
        width: 42px;
        height: 42px;
    }

    .cardContent h1 {
        font-size: 20px;
    }

    .cardInfo {
        margin-bottom: 16px;
    }

    /* Horizontal */
    .cardHorizontal {
        max-width: 684px;
        gap: 32px;
        min-height: 180px;
    }

    .cardHorizontal_Image {
        width: 260px;
        height: 180px;
    }

    .cardHorizontal_Content {
        height: 180px;
    }

    .cardHorizontal_Topic {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 14px;
        min-height: 24px;
    }

    .cardHorizontal_Detail {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 28px;
    }

    .cardHorizontal_Author {
        padding-right: 20px;
    }

    .cardHorizontal_Author img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .cardHorizontal_Author span {
        font-size: 14px;
    }

    .cardHorizontal_Date {
        padding-Left: 20px;
        font-size: 14px;
    }

}