.blogList_Container {
    margin: 2.5rem auto clamp(5rem, 3.3333rem + 8.3333vw, 10rem);
       max-width: clamp(320px, 90%, 1280px);
}

.blogList_Header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blogList_Header h1 {
    font-size: clamp(1.5rem, 0.5217rem + 4.3478vw, 4rem);
    font-weight: 600;
    margin-bottom: clamp(1rem, 0.8043rem + 0.8696vw, 1.5rem);
}

.blogList_Header p {
    text-align: center;
    max-width: 900px;
    font-size: 1rem;
    margin-bottom: clamp(2.5rem, 1.5217rem + 4.3478vw, 5rem);
    color: rgba(0, 0, 0, 0.6);
}

.blogList_Body {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.blogList_BodyList {
    flex: 1;
    display: flex;
    gap: 32px;
    flex-direction: column;
    max-width: 840px;
}

.blogList_TastyRecipes {
    flex: 1;
    max-width: 400px;
}

.blogList_TastyRecipes h1 {
    font-size: 32px;
    font-weight: 600;
}

.blogList_TastyRecipesContent {
    margin: 32px 0 80px;
}

.blogList_TastyRecipes .blogList_TastyRecipesAdsBadge {
    height: 434px;
    width: 400px;
}

.blogList_TastyRecipes .blogList_TastyRecipesAdsBadge img {
    height: 400px;
    width: 400px;
}

.blogList_TastyRecipesPagination {
    margin-top: 80px;
}

.blogList_InboxContainer {
    margin: 160px 0;
}

/* Max Screen width 1280px */
@media screen and (max-width: 1280px) {}

@media only screen and (max-width: 320px) and (max-width:480px) {
    .blogList_Header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .blogList_Body {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
    }

    .blogList_BodyList {
        flex: 1;
        display: flex;
        gap: 32px;
        flex-direction: column;
        max-width: 840px;
    }

    .blogList_TastyRecipes {
        flex: 1;
        max-width: 400px;
    }

    .blogList_TastyRecipes h1 {
        font-size: 32px;
        font-weight: 600;
    }

    .blogList_TastyRecipesContent {
        margin: 32px 0 80px;
    }

    .blogList_TastyRecipes .blogList_TastyRecipesAdsBadge {
        height: 434px;
        width: 400px;
    }

    .blogList_TastyRecipes .blogList_TastyRecipesAdsBadge img {
        height: 400px;
        width: 400px;
    }

    .blogList_TastyRecipesPagination {
        margin-top: 80px;
    }

    .blogList_InboxContainer {
        margin: 160px 0;
    }
}