.blogPost_Container {
    margin: 0 auto;
    max-width: 1280px;
}

.blogPost_Header {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogPost_Header h1 {
    font-size: 64px;
    font-weight: 600;
}

.blogPost_Author {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogPost_AuthorInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 24px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    gap: 16px;
}

.blogPost_AuthorName {
    font-size: 16px;
    font-weight: bold;
}

.blogPost_Date {
    padding-left: 24px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.blogPost_DeScript {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1000px;
    margin-top: 48px;
}

.blogPost_DeScript span{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.blogPost_HeaderImage {
    margin-top: 64px;
    position: relative;
    overflow: hidden;
    width: 1280px;
    height: 600px;
    border-radius: 30px;
}

.blogPost_HeaderImage img {
    object-position: center;
    width: 100%;
    height: 100%;
}

/* Blog Post Body */
.blogPost_BodyContent{
    margin-top: 80px;
    display: flex;
    justify-self: center;
    gap: 48px;
}

.blogPost_Content {
    max-width: 920px;
}

.blogPost_Content h1 {
    font-size: 24px;
    font-weight: 600;
}

.blogPost_Content p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 24px;
}

.blogPost_SocialBtn {
    max-width: 131px;
}

.blogPost_SocialBtn span{
    font-size: 14px;
    font-weight: 600;
}