.blogPost_Container {
    margin: 0 auto;
    max-width: 1280px;
}

.blogPost_Header {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogPost_Header h1 {
    font-size: 64px;
    font-weight: 600;
}

.blogPost_Author {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogPost_AuthorInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 24px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    gap: 16px;
}

.blogPost_AuthorName {
    font-size: 16px;
    font-weight: bold;
}

.blogPost_Date {
    padding-left: 24px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.blogPost_DeScript {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1000px;
    margin-top: 48px;
}

.blogPost_DeScript span {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.blogPost_HeaderImage {
    margin-top: 64px;
    position: relative;
    overflow: hidden;
    width: 1280px;
    height: 600px;
    border-radius: 30px;
}

.blogPost_HeaderImage img {
    object-position: center;
    width: 100%;
    height: 100%;
}

/* Blog Post Body */
.blogPost_BodyContent {
    margin-top: 80px;
    display: flex;
    justify-self: center;
    gap: 49px;
}

.blogPost_Content {
    max-width: 920px;
}

.blogPost_Content h1 {
    font-size: 24px;
    font-weight: 600;
}

.blogPost_Content p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 24px;
}

.blogPost_SocialBtn {
    max-width: 131px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogPost_SocialBtn span {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 32px;
}

.blogPost_FacebookIcon,
.blogPost_TwitterIcon,
.blogPost_InstagramIcon {
    margin-bottom: 48px;
    width: 24px;
    height: 24px;
}

.blogPost_FacebookIcon svg,
.blogPost_TwitterIcon svg,
.blogPost_InstagramIcon svg {
    width: 24px;
    height: 24px;
}

.blogPost_ContentOne,
.blogPost_ContentTwo,
.blogPost_ContentThree,
.blogPost_ContentFour,
.blogPost_ContentSix {
    margin-right: 40px;
    margin-left: 40px;
}

.blogPost_ContentTwo,
.blogPost_ContentThree,
.blogPost_ContentFour,
.blogPost_ContentFive,
.blogPost_ContentSix {
    margin-top: 64px;
}

.blogPost_ContentThreeImage {
    width: 840px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 32px 0;
    border-radius: 20px;
}

.blogPost_ContentThreeImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blogPost_ContentFive {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 48px 40px;
}

.blogPost_ContentFive h1 {
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
}

/* Inbox Container */
.blogPost_EmailInbox {
    margin: 160px 0;
}

/* Check out the delicious recipe Container */
.blogPost_DeliciousRecipe {
    margin-bottom: 160px;
}

.blogPost_DeliciousRecipeTopic {
    font-size: 36px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.blogPost_DeliciousRecipeContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogPost_DeliciousRecipeContent .verticalCard {
    --card-width: 290px;
    --card-height: 316px;
    --card-padding: 0px;
    --card-image-height: 200px;
    --card-bg: white;
    --card-border-radius: 0px;
    --card-title-font-size: 18px;
    --card-content-padding: 16px 0 0;
    --card-info-font-size: 14px;
    --card-info-padding: 24px 0 0;
    --card-heart-size: 48px;
    --card-heart-svg-size: 24px;
    --card-info-icon-size: 24px;
}

@media screen and (max-width: 1280px) {
    .blogPost_Container {
        max-width: 1024px;
    }

    /* Blog Post Header */
    .blogPost_Header h1 {
        font-size: 48px;
    }

    .blogPost_Author {
        margin-top: 24px;
    }

    .blogPost_AuthorInfo img {
        width: 32px;
        height: 32px;
    }

    .blogPost_AuthorName {
        font-size: 14px;
    }

    .blogPost_Date {
        font-size: 12px;
    }

    .blogPost_DeScript {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 1000px;
        margin-top: 48px;
    }

    .blogPost_DeScript span {
        font-size: 14px;
    }

    .blogPost_HeaderImage {
        width: 1024px;
        height: 500px;
    }

    /* Blog Post Body */

    .blogPost_Content {
        max-width: 700px;
    }

    .blogPost_Content h1 {
        font-size: 20px;
    }

    .blogPost_Content p {
        font-size: 14px;
        margin-top: 16px;
    }

    .blogPost_SocialBtn {

        max-width: 131px;
    }

    .blogPost_SocialBtn span {
        font-size: 12px;
    }

    .blogPost_FacebookIcon,
    .blogPost_TwitterIcon,
    .blogPost_InstagramIcon {
        margin-bottom: 40px;
        width: 20px;
        height: 20px;

    }

    .blogPost_FacebookIcon svg,
    .blogPost_TwitterIcon svg,
    .blogPost_InstagramIcon svg {
        width: 20px;
        height: 20px;
    }

    .blogPost_ContentOne,
    .blogPost_ContentTwo,
    .blogPost_ContentThree,
    .blogPost_ContentFour,
    .blogPost_ContentSix {
        margin-right: 30px;
        margin-left: 30px;
    }

    .blogPost_ContentTwo,
    .blogPost_ContentThree,
    .blogPost_ContentFour,
    .blogPost_ContentFive,
    .blogPost_ContentSix {
        margin-top: 54px;
    }

    .blogPost_ContentThreeImage {
        width: 640px;
        height: 300px;
    }

    .blogPost_ContentFive {
        padding: 40px 30px;
    }

    .blogPost_ContentFive h1 {
        font-size: 26px;
    }

    /* Delicious Recipe Content */
    .blogPost_DeliciousRecipeTopic {
        font-size: 32px;
        
    }

    .blogPost_DeliciousRecipeContent .verticalCard {
        --card-width: 236px;
        --card-height: 250px;
        --card-padding: 0px;
        --card-image-height: 150px;
        --card-title-font-size: 16px;
        --card-content-padding: 14px 0 0;
        --card-info-font-size: 12px;
        --card-info-padding: 20px 0 0;
        --card-heart-size: 40px;
        --card-heart-svg-size: 20px;
        --card-info-icon-size: 20px;
    }
}