.blogList_Container {
    margin: 0 auto;
    max-width: 1280px;
}

.blogList_Header {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blogList_Header h1 {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 24px;
}

.blogList_Header p {
    text-align: center;
    max-width: 900px;
    font-size: 16px;
    margin-bottom: 80px;
    color: rgba(0, 0, 0, 0.6);
}

.blogList_Body {
    margin-top: 80px;
    display: flex;
    gap: 40px;
}

.blogList_BodyList {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 840px;
    gap: 32px;
}

.blogList_TastyRecipes {
    flex: 1;
    max-width: 400px;
}

.blogList_TastyRecipes h1 {
    font-size: 32px;
    font-weight: 600;
}

.blogList_TastyRecipesContent {
    margin: 32px 0 80px;

}

.blogList_TastyRecipesPagination {
    margin-top: 80px;
}

.blogList_InboxContainer {
    margin: 160px 0;
}

@media screen and (max-width: 1280px) {
    .blogList_Container {
        max-width: 1024px;
    }

    .blogList_Header {
        margin-top: 80px;
    }

    .blogList_Header h1 {
        font-size: 60px;
    }

    .blogList_Header p {
        font-size: 14px;
      max-width: 800px;
    }

    .blogList_Body {
        margin-top: 80px;
        display: flex;
        gap: 40px;
    }

    .blogList_BodyList {
        max-width: 684px;
        gap: 24px;
    }

    .blogList_TastyRecipes {
        max-width: 300px;
    }

    .blogList_TastyRecipes h1 {
        font-size: 28px;
    }

    .blogList_TastyRecipesContent {
        margin: 32px 0 80px;

    }
    .blogList_TastyRecipesPagination {
        margin-top: 70px;
    }

    .blogList_InboxContainer {
        margin: 160px 0;
    }
}