.blogPost_Container {
    margin: 0 auto;
    max-width: 1280px;
}

.blogPost_Header {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogPost_Header h1 {
    font-size: 64px;
    font-weight: 600;
}

.blogPost_Author {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogPost_AuthorInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 24px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    gap: 16px;
}

.blogPost_AuthorName {
    font-size: 16px;
    font-weight: bold;
}

.blogPost_Date {
    padding-left: 24px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.blogPost_DeScript {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1000px;
    margin-top: 48px;
}

.blogPost_DeScript span {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.blogPost_HeaderImage {
    margin-top: 64px;
    position: relative;
    overflow: hidden;
    width: 1280px;
    height: 600px;
    border-radius: 30px;
}

.blogPost_HeaderImage img {
    object-position: center;
    width: 100%;
    height: 100%;
}

/* Blog Post Body */
.blogPost_BodyContent {
    margin-top: 80px;
    display: flex;
    justify-self: center;
    gap: 48px;
}

.blogPost_Content {
    max-width: 920px;
}

.blogPost_Content h1 {
    font-size: 24px;
    font-weight: 600;
}

.blogPost_Content p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 24px;
}

.blogPost_SocialBtn {
    max-width: 131px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogPost_SocialBtn span {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 32px;
}

.blogPost_FacebookIcon,
.blogPost_TwitterIcon,
.blogPost_InstagramIcon {
    margin-bottom: 48px;
    width: 24px;
    height: 24px;
    
}

.blogPost_FacebookIcon svg,
.blogPost_TwitterIcon svg,
.blogPost_InstagramIcon svg {
    width: 24px;
    height: 24px;
}

.blogPost_ContentOne,
.blogPost_ContentTwo,
.blogPost_ContentThree,
.blogPost_ContentFour,
.blogPost_ContentSix {
    margin-right: 40px;
    margin-left: 40px;
}

.blogPost_ContentTwo,
.blogPost_ContentThree,
.blogPost_ContentFour,
.blogPost_ContentFive,
.blogPost_ContentSix {
    margin-top: 64px;
}

.blogPost_ContentThreeImage {
    width: 840px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 32px 0;
    border-radius: 20px;
}

.blogPost_ContentThreeImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blogPost_ContentFive {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 48px 40px;
}

.blogPost_ContentFive h1 {
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
}

.blogPost_EmailInbox {
    margin: 160px 0;
}

/* Check out the delicious recipe Container */
.blogPost_DeliciousRecipe {
    margin-bottom: 160px;    
}

.blogPost_DeliciousRecipe h1 {
    font-size: 36px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.blogPost_DeliciousRecipeContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogPost_DeliciousRecipeContent > div{
    min-width: 290px !important;
    height: 316px !important;
    background: white !important;
    padding: 0 !important;
}

.blogPost_DeliciousRecipeContent h1{ 
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-bottom: 24px !important;
}

.blogPost_DeliciousRecipeContent div{ 
    font-size: 14px !important;
    
}