.contact_Container {
    max-width: 1280px;
    margin: 0 auto;
}

.contact_Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
}
.contact_Header h1 {
    font-size: 64px;
    font-weight: 600;
}

.contact_Content {
    display: flex;
    margin-top: 80px;
    gap: 40px;
}

.contact_ContentImage {
    position: relative;
    width: 400px;
    height: 472px;
}

.contact_ContentImageBG {
    position: absolute;
    background: linear-gradient(180deg, white, #e7f9fd);
    width: 400px;
    height: 432px;
    border-radius: 30px;
    z-index: 1;
    bottom: 0;
}

.contact_ContentImage img{
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: 2;
    justify-self: center;
}

/* Email Inbox Container */
.contact_EmailInbox {
    margin-top: 160px;
}