.contact_Container {
    max-width: clamp(320px, 90%, 1280px);
    margin: clamp(2.625rem, 1.75rem + 4.375vw, 5.25rem) auto clamp(5rem, 3.3333rem + 8.3333vw, 10rem);
}

/* Contact Header & Form */
.contact_Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact_Header h1 {
    font-size: clamp(1.5rem, 0.6667rem + 4.1667vw, 4rem);
    font-weight: 600;
}

.contact_Content {
    display: flex;
    margin-top: clamp(2.5rem, 1.6667rem + 4.1667vw, 5rem);
    gap: clamp(1.25rem, 0.8333rem + 2.0833vw, 2.5rem);
    align-items: center;
}

.contact_ContentImage {
    position: relative;
}

.contact_ContentImageBG {
    position: relative;
    background: linear-gradient(180deg, white, #e7f9fd);
    width: 400px;
    height: clamp(25rem, 24.3333rem + 3.3333vw, 27rem);
    border-radius: 30px;
    bottom: 2.4375rem;
    justify-self: center;
}

.contact_ContentImage img {
    position: absolute;
    justify-self: center;
    z-index: 2;
    bottom: 2.5rem;
    width: clamp(17.5rem, 16.0417rem + 7.2917vw, 21.875rem);
    height: clamp(25.125rem, 23.6667rem + 7.2917vw, 29.5rem);
}

.contact_ContentForm {
    display: flex;
    margin-top: 0.5rem;
}

.contact_FormContainerOne {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

.contact_FormGroup {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
}

.contact_FormLabel {
    font-size: clamp(0.75rem, 1.0833rem + -0.4167vw, 1rem);
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.contact_FormLabelInput {
    width: clamp(16.875rem, 14.1667rem + 13.5417vw, 25rem);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1.125rem 1.25rem;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.6);
}

.contact_FormSelectInput {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1.125rem 1.25rem;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.6);
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 24px;
    cursor: pointer;
}

.contact_FormTextarea {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1.125rem 1.25rem;
    min-height: 200px;
    resize: vertical;
    font-size: 0.875rem;
}

.contact_SubmitBtn {
    margin-top: clamp(0.75rem, 0.5rem + 1.25vw, 1.5rem);
    background: black;
    padding: 1.25rem 4rem;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

/* Email Inbox Container */
.contact_EmailInbox {
    margin-top: clamp(5rem, 3.3333rem + 8.3333vw, 10rem);
}

.contact_EmailInbox .inBoxComp {
    --inbox-border-radius: 60px;
    --inbox-padding: 5rem 0;
    --inbox-topic-font-size: clamp(1.625rem, 1.1667rem + 2.2917vw, 3rem);
    --inbox-title-font-size: 16px;
    --inbox-emailbox-width: clamp(18.75rem, 15rem + 18.75vw, 30rem);
    --inbox-bgimg: clamp(12.5rem, 9.375rem + 15.625vw, 21.875rem);
    --inbox-bgimg-border-radius: 60px;
    --inbox-body-z-index: 2;
    --inbox-body-margin: clamp(2rem, 1.3333rem + 3.3333vw, 4rem) auto 0;
    --inbox-emailbox-direction: row;
}

/* Delicious Recipe Container */
.contact_DeliciousRecipe {
    margin-top: clamp(5rem, 3.3333rem + 8.3333vw, 10rem);
}

.contact_DeliciousRecipeTopic {
    font-size: clamp(1.5rem, 1.25rem + 1.25vw, 2.25rem);
    font-weight: 600;
    margin-bottom: clamp(2.5rem, 1.6667rem + 4.1667vw, 5rem);
    display: flex;
    justify-content: center;
}

.contact_DeliciousRecipeContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact_DeliciousRecipeContent .verticalCard {
    --card-width: clamp(17.5rem, 17.0109rem + 2.1739vw, 18.75rem);
    --card-height: clamp(17.9375rem, 17.3333rem + 3.0208vw, 19.75rem);
    --card-padding: 0px;
    --card-image-height: clamp(11.25rem, 10.8333rem + 2.0833vw, 12.5rem);
    --card-image-border-radius: 20px;
    --card-bg: white;
    --card-border-radius: 0px;
    --card-title-font-size: 18px;
    --card-title-font-weight: 600;
    --card-content-padding: 16px 0 0;
    --card-info-font-size: 14px;
    --card-info-padding: 24px 0 0;
    --card-heart-size: clamp(2.5rem, 2.3333rem + 0.8333vw, 3rem);
    --card-heart-svg-size: clamp(1.25rem, 1.1667rem + 0.4167vw, 1.5rem);
    --card-heart-position: clamp(0.5rem, 0.3333rem + 0.8333vw, 1rem);
    --card-info-icon-size: 24px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* Contact Header & Form */
    .contact_Content {
        flex-direction: column;
    }

    .contact_ContentImageBG {
        width: 100vw;
        height: 400px;
        border-radius: 0px;
        bottom: 0px;
    }

    .contact_ContentImage img {
        bottom: 0;
    }

    .contact_FormContainerOne {
        gap: 1rem;
    }

    .contact_SubmitBtn {
        display: block;
        margin-inline: auto;
    }

    /* Email Inbox Container */
    .contact_EmailInbox .inBoxComp {
        --inbox-padding: 2.5rem 0.5rem;
    }

    /* Delicious Recipe Container */
    .contact_DeliciousRecipeTopic {
        text-align: center;
    }

    .contact_DeliciousRecipeContent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        justify-self: center;
    }

    .contact_DeliciousRecipeContent .verticalCard {
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    /* Contact Header & Form */
    .contact_Content {
        flex-direction: column;
    }

    .contact_ContentImageBG {
        width: 100vw;
        height: 400px;
        border-radius: 0px;
        bottom: 0px;
    }

    .contact_ContentImage img {
        bottom: 0;
    }

    .contact_FormContainerOne {
        gap: 1rem;
    }

    .contact_SubmitBtn {
        display: block;
        margin-inline: auto;
    }

    /* Email Inbox Container */
    .contact_EmailInbox .inBoxComp {
        --inbox-padding: 2.5rem 0.5rem;
    }

    /* Delicious Recipe Container */
    .contact_DeliciousRecipeTopic {
        text-align: center;
    }

    .contact_DeliciousRecipeContent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        justify-self: center;
    }

    .contact_DeliciousRecipeContent .verticalCard {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 480px) {

    /* Contact Header & Form */
    .contact_Content {
        flex-direction: column;
    }

    .contact_ContentImageBG {
        width: 100vw;
        height: 400px;
        border-radius: 0px;
        bottom: 0px;
    }

    .contact_ContentImage img {
        bottom: 0px;
    }

    .contact_ContentForm {
        display: flex;
    }

    .contact_FormContainerOne {
        flex-direction: column;
        gap: 0;
    }

    .contact_SubmitBtn {
        display: block;
        margin-inline: auto;
    }

    /* Email Inbox Container */
    .contact_EmailInbox .inBoxComp {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        --inbox-border-radius: 0;
        --inbox-padding: 2.5rem 0.5rem;
        --inbox-emailbox-direction: column;
        --inbox-bgimg-border-radius: 0;
    }

    /* Delicious Recipe Container */
    .contact_DeliciousRecipeTopic {
        text-align: center;
    }

    .contact_DeliciousRecipeContent {
        flex-direction: column;
    }

    .contact_DeliciousRecipeContent .verticalCard {
        margin-bottom: 1.5rem;
    }
}