@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body, html{
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
}

* {
  box-sizing: border-box;
}
