   .homeContainer {
       margin: 2.5rem auto clamp(5rem, 3.3333rem + 8.3333vw, 10rem);
       max-width: clamp(320px, 90%, 1280px);
   }

   /* Carousel Container */
   .carouselWrapper {
       position: relative;
       justify-content: center;
   }

   .carouselContainer {
       overflow: hidden;
       border-radius: 24px;
       box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
   }

   .carouselTrack {
       display: flex;
       transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
   }

   .featureRecipeContainer {
       display: flex;
       min-width: 100%;
       align-items: center;
       background: #E7FAFE;
       position: relative;
   }

   .recipesBadge {
       position: absolute;
       top: 5%;
       left: 44%;
       bottom: unset;
       right: unset;
       z-index: 10;
   }

   .recipesBadge img {
       width: 10rem;
   }

   .featureRecipeFirstCol {
       flex: 1;
       max-width: 48.5%;
       padding: clamp(1rem, 3vw, 3.12rem);
   }

   .featureRecipeSecCol {
       flex: 1;
       max-width: 51.5%;
       height: 100%;
       position: relative;
   }

   .recipeImageContainer {
       height: 100%;
       min-height: clamp(300px, 90% + 1rem, 400px);
       border-radius: 0 24px 24px 0;
   }

   .hotRecipesTopic {
       display: flex;
       align-items: center;
       width: max-content;
       border-radius: 24px;
       gap: 0.5rem;
       padding: 0.5rem 1rem;
       margin-bottom: clamp(1rem, 3vw + 1rem, 2rem);
       background-color: white;
       box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
   }

   .hotRecipesTopic p {
       font-size: 0.87rem;
       font-weight: 600;
   }

   .hotRecipesTopic img {
       width: 1.5rem;
       height: 1.5rem;
   }

   .featureRecipeTopic {
       font-size: clamp(1.5rem, 0.6667rem + 4.1667vw, 4rem);
       font-weight: 600;
       line-height: 1.2;
       margin-bottom: clamp(1rem, 0.8333rem + 0.8333vw, 1.5rem);
   }

   .featureRecipeDetail {
       font-size: 1rem;
       color: #666;
       margin-bottom: clamp(1rem, 0.6667rem + 1.6667vw, 2rem);
   }

   .featureRecipeType {
       margin-bottom: clamp(2rem, 1.6667rem + 1.6667vw, 3rem);
       display: flex;
       gap: 1rem;
   }

   .firstTypeButton,
   .secondTypeButton {
       display: flex;
       align-items: center;
       gap: 0.5rem;
       padding: 0.5rem 1rem;
       background: rgba(0, 0, 0, 0.1);
       border-radius: 24px;
       font-size: 0.87rem;
       font-weight: 500;
       color: #333;
   }

   .firstTypeButton svg,
   .secondTypeButton svg {
       width: 1.5rem;
   }

   .featureRecipeBlog {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .featureRecipeProfile {
       display: flex;
       align-items: center;
       gap: clamp(0.25rem, 0rem + 1.25vw, 1rem);
   }

   .featureRecipeProfile img {
       width: clamp(3.125rem, 4.2917rem + -1.4583vw, 4rem);
       border-radius: 50%;
       object-fit: cover;
   }

   .authorInfo {
       display: flex;
       flex-direction: column;
   }

   .authorName {
       font-size: 1rem;
       font-weight: bold;
       color: #333;
   }

   .recipeDate {
       font-size: 0.87rem;
       color: #999;
   }

   .viewRCButton {
       display: flex;
       align-items: center;
       padding: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem) clamp(1.5rem, 1.25rem + 1.25vw, 2.25rem);
       gap: clamp(0.5rem, 0.3333rem + 0.8333vw, 1rem);
       background-color: black;
       color: white;
       font-size: 0.87rem;
       font-weight: 600;
       cursor: pointer;
       transition: all 0.3s ease;
       border-radius: 16px;
   }

   .viewRCButton svg {
       fill: white;
       width: 1.5rem;
   }

   .viewRCButton:hover {
       transform: scale(1.1);
   }

   /* Categories Container */
   .categoriesContainer {
       margin: clamp(6.25rem, 5rem + 6.25vw, 10rem) auto 0;
   }

   .categoriesTopic {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-bottom: clamp(2.5rem, 1.6667rem + 4.1667vw, 5rem);
   }

   .categoriesTopic h1 {
       font-size: clamp(1.5rem, 1rem + 2.5vw, 3rem);
       font-weight: 600;
   }

   .categoriesTopic button {
       font-size: 1rem;
       font-weight: 600;
       background: #E7FAFE;
       padding: 1.25rem 1.7rem;
       border-radius: 16px;
       transition: all 0.3s ease;
   }

   .categoriesTopic button {
       transform: scale(1.1);
   }

   .categoriesList ul {
       list-style: none;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .categoriesBreakfast,
   .categoriesVegan,
   .categoriesMeat,
   .categoriesDessert,
   .categoriesLunch,
   .categoriesChocolate {
       font-size: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
       font-weight: 600;
       border-radius: 24px;
       padding-bottom: clamp(1.5rem, 1.375rem + 0.625vw, 1.875rem);
       display: flex;
       flex-direction: column;
       text-align: center;
       justify-content: center;
       align-items: center;
       min-height: clamp(10rem, 9.1667rem + 4.1667vw, 12.5rem);
       cursor: pointer;
   }

   .categoriesBreakfast {
       background: linear-gradient(180deg, white 50%, rgba(112, 130, 70, 0.1) 100%);
   }

   .categoriesVegan {
       background: linear-gradient(180deg, white 50%, rgba(108, 198, 63, 0.1) 100%);
   }

   .categoriesMeat {
       background: linear-gradient(180deg, white 50%, rgba(204, 38, 27, 0.1) 100%);
   }

   .categoriesDessert {
       background: linear-gradient(180deg, white 50%, rgba(240, 158, 0, 0.1) 100%);
   }

   .categoriesLunch {
       background: linear-gradient(180deg, white 50%, rgba(0, 0, 0, 0.1) 100%);
   }

   .categoriesChocolate {
       background: linear-gradient(180deg, white 50%, rgba(0, 0, 0, 0.1) 100%);
   }

   .categoriesBreakfast img,
   .categoriesVegan img,
   .categoriesMeat img,
   .categoriesDessert img,
   .categoriesLunch img,
   .categoriesChocolate img {
       width: clamp(6.25rem, 5.8333rem + 2.0833vw, 7.5rem);
       object-fit: cover;
       margin-left: clamp(1.5rem, 1.3333rem + 0.8333vw, 2rem);
       display: block;
   }

   /* Simple and tasty recipes */
   .simpleAndTastyContainer {
       margin: clamp(5.625rem, 3.6875rem + 9.6875vw, 11.4375rem) auto 0;
   }

   .simpleAndTastyHeader {
       text-align: center;
   }

   .simpleAndTastyHeader h1 {
       font-size: clamp(1.5rem, 1rem + 2.5vw, 3rem);
       font-weight: 600;
       margin-bottom: clamp(1rem, 0.8333rem + 0.8333vw, 1.5rem);
   }

   .simpleAndTastyHeader p {
       font-size: 1rem;
       color: rgba(0, 0, 0, 0.6);
       margin-bottom: clamp(3rem, 2rem + 5vw, 6rem);
   }

   .simpleAndTastyCardListOne,
   .simpleAndTastyCardListTwo,
   .simpleAndTastyCardListThree {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .simpleAndTastyCardListOne,
   .simpleAndTastyCardListTwo {
       margin-bottom: 2.5rem;
   }

   .simpleAndTastyCardListOne .verticalCard,
   .simpleAndTastyCardListTwo .verticalCard,
   .simpleAndTastyCardListThree .verticalCard {
       --card-padding: 1rem;
       --card-width: clamp(18.75rem, 16.6667rem + 10.4167vw, 25rem);
       --card-height: clamp(20.875rem, 18.7917rem + 10.4167vw, 27.125rem);
       --card-image-height: clamp(11.25rem, 9.7917rem + 7.2917vw, 15.625rem);
       --card-bg: linear-gradient(180deg, white 0%, #E7F9FD 100%);
       --card-border-radius: 20px;
       --card-heart-position: clamp(0.5rem, 0.3333rem + 0.8333vw, 1rem);
       --card-image-border-radius: 20px;
       --card-content-padding: clamp(1rem, 0.8333rem + 0.8333vw, 1.5rem) 0 0;
       --card-title-font-size: 1.5rem;
       --card-title-font-weight: 600;
       --card-info-font-size: 1rem;
       --card-info-padding: clamp(1rem, 0.8333rem + 0.8333vw, 1.5rem) 0 clamp(0.5rem, 0.3333rem + 0.8333vw, 1rem);
       --card-info-icon-size: 24px;
       --card-heart-size: clamp(2.5rem, 2.3333rem + 0.8333vw, 3rem);
       --card-heart-svg-size: clamp(1rem, 0.8333rem + 0.8333vw, 1.5rem);
   }

   .simpleAndTastyCardListTwo .simpleAndTastyCardAdsBadge {
       width: 25rem;
       height: 27.12rem;

   }

   .simpleAndTastyCardListTwo .simpleAndTastyCardAdsBadge img {
       width: 25rem;
       height: 25rem;
   }

   /* Learn More Container */
   .learnMoreContainer {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: clamp(4.375rem, 2.8542rem + 7.6042vw, 8.9375rem) auto 0;
   }

   .learnMoreFirstCol {
       position: relative;
       transform: translateY(3.12rem);
       flex: 1;
       width: 100%;
       max-width: clamp(20rem, 15.625rem + 21.875vw, 33.125rem);
   }

   .learnMoreSecCol {
       flex: 1;
       position: relative;
       width: 100%;
       max-width: clamp(20rem, 11.875rem + 40.625vw, 44.375rem);
       height: clamp(22.5rem, 17.5625rem + 24.6875vw, 37.3125rem);
   }

   .learnMoreFirstCol h1 {
       font-size: clamp(1.625rem, 1.1667rem + 2.2917vw, 3rem);
       font-weight: 600;
       line-height: 1.2;
       margin-bottom: clamp(1rem, 0.8333rem + 0.8333vw, 1.5rem);
   }

   .learnMoreFirstCol p {
       font-size: 1rem;
       margin-bottom: clamp(1.5rem, 0.5rem + 5vw, 4.5rem);
       color: rgba(0, 0, 0, 0.6);
   }

   .learnMoreFirstCol button {
       padding: clamp(1rem, 0.8958rem + 0.5208vw, 1.3125rem) clamp(3rem, 2.8958rem + 0.5208vw, 3.3125rem);
       font-size: clamp(0.875rem, 1.0417rem + -0.2083vw, 1rem);
       font-weight: 600;
       background: black;
       color: white;
       border-radius: 16px;
   }

   .learnMoreSecCol img {
       position: absolute;
       right: clamp(0rem, -1.0417rem + 5.2083vw, 3.125rem);
       z-index: 2;
       height: 100%;
   }

   .learnMoreSecColBackGround {
       background: linear-gradient(180deg, white 0%, #E7F9FD 100%);
       position: absolute;
       bottom: 0;
       right: 0;
       width: 40.625rem;
       height: 31.25rem;
       border-radius: 30px;
       z-index: 1;

   }

   /* Check Out Container */
   .checkOutContainer {
       background: linear-gradient(180deg, white 0%, #E7F9FD 100%);
       text-align: center;
       width: 100vw;
       margin-top: clamp(5rem, 3.3333rem + 8.3333vw, 10rem);
       margin-left: calc(-50vw + 50%);
       padding: clamp(2.5rem, 1.6667rem + 4.1667vw, 5rem) calc(50vw - 40rem);
   }

   .checkOutContainer h1 {
       font-size: clamp(1.625rem, 1.1667rem + 2.2917vw, 3rem);
       font-weight: 600;
       margin-bottom: clamp(1rem, 0.8333rem + 0.8333vw, 1.5rem);
   }

   .checkOutContainer p {
       font-size: 1rem;
       color: rgba(0, 0, 0, 0.6);
   }

   .checkOutInstagram {
       margin: clamp(2.5rem, 1.6667rem + 4.1667vw, 5rem) 0;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .checkOutInstagram img {
       width: 100%;
       max-width: clamp(9.375rem, 6.25rem + 15.625vw, 18.75rem);
   }

   .visitInstagramBtn {
       display: inline-flex;
       justify-content: center;
       align-items: center;
       gap: clamp(0.5rem, 0.3333rem + 0.8333vw, 1rem);
       font-size: clamp(0.875rem, 1.0417rem + -0.2083vw, 1rem);
       font-weight: 600;
       color: white;
       cursor: pointer;
       background: black;
       border-radius: 16px;
       padding: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem) clamp(1.5rem, 1.3333rem + 0.8333vw, 2rem);
   }

   .visitInstagramBtn svg {
       fill: white;
       width: 1.5rem;
   }

   /* Delicious Recipe Container */
   .deliRecipeContainer {
       margin-top: clamp(5rem, 3.3333rem + 8.3333vw, 10rem);
   }

   .deliRecipeTopic {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-bottom: clamp(2.5rem, 1.6667rem + 4.1667vw, 5rem);
       gap: clamp(2.375rem, -0.0208rem + 11.9792vw, 9.5625rem);
   }

   .deliRecipeTopic h1 {
       font-size: clamp(1.625rem, 1.1667rem + 2.2917vw, 3rem);
       font-weight: 500;
       line-height: 1.2;
   }

   .deliRecipeTopic p {
       font-size: 16px;
       color: rgba(0, 0, 0, 0.6);
   }

   .deliRecipeBodyFirstRow,
   .deliRecipeBodySecRow {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .deliRecipeBodyFirstRow {
       margin-bottom: 40px;
   }

   .deliRecipeBodyFirstRow .verticalCard,
   .deliRecipeBodySecRow .verticalCard {
       --card-width: clamp(17.5rem, 17.0109rem + 2.1739vw, 18.75rem);
       --card-height: clamp(17.9375rem, 17.3333rem + 3.0208vw, 19.75rem);
       --card-padding: 0px;
       --card-image-height: clamp(11.25rem, 10.8333rem + 2.0833vw, 12.5rem);
       --card-image-border-radius: 20px;
       --card-bg: white;
       --card-border-radius: 0px;
       --card-title-font-size: 18px;
       --card-title-font-weight: 600;
       --card-content-padding: 16px 0 0;
       --card-info-font-size: 14px;
       --card-info-padding: 24px 0 0;
       --card-heart-size: clamp(2.5rem, 2.3333rem + 0.8333vw, 3rem);
       --card-heart-svg-size: clamp(1.25rem, 1.1667rem + 0.4167vw, 1.5rem);
       --card-heart-position: clamp(0.5rem, 0.3333rem + 0.8333vw, 1rem);
       --card-info-icon-size: 24px;
   }

   /* Inbox Container */
   .inbox_Container .inBoxComp {
       --inbox-border-radius: 60px;
       --inbox-padding: 5rem 0;
       --inbox-topic-font-size: clamp(1.625rem, 1.1667rem + 2.2917vw, 3rem);
       --inbox-title-font-size: 16px;
       --inbox-emailbox-width: clamp(18.75rem, 15rem + 18.75vw, 30rem);
       --inbox-bgimg: clamp(12.5rem, 9.375rem + 15.625vw, 21.875rem);
       --inbox-bgimg-border-radius: 60px;
       --inbox-body-z-index: 2;
       --inbox-body-margin: clamp(2rem, 1.3333rem + 3.3333vw, 4rem) auto 0;
       --inbox-emailbox-direction: row;
       margin-top: clamp(5rem, 3.3333rem + 8.3333vw, 10rem);
   }

   @media screen and (min-width: 1281px) and (max-width: 1440px) {}

   @media screen and (min-width: 769px) and (max-width: 1024px) {}

   @media screen and (min-width: 481px) and (max-width: 768px) {
       .homeContainer {
           margin-top: 0;
       }

       /* Carousel Container */
       .carouselWrapper {
           width: 100vw;
       }

       .carouselContainer {
           border-radius: 0;
           box-shadow: none;
       }

       .featureRecipeContainer {
           flex-direction: column-reverse;
           align-items: normal;
       }

       .recipesBadge {
           top: unset;
           left: unset;
           bottom: 1rem;
           right: 1rem;
       }

       .recipesBadge img {
           width: 6.25rem;
       }

       .featureRecipeFirstCol {
           max-width: 100%;
       }

       .featureRecipeSecCol {
           max-width: 100%;
       }

       .recipeImageContainer {
           border-radius: 0;
       }

       .featureRecipeBlog {
           display: flex;
           flex-direction: column;
           gap: 1rem;
       }

       .featureRecipeProfile {
           display: flex;
           flex-direction: column;
           text-align: center;
       }

       .viewRCButton {
           cursor: none;
           transition: none;
       }

       .viewRCButton:hover {
           transform: none;
       }

       /* Categories Container */
       .categoriesContainer {
           display: flex;
           flex-direction: column;
       }

       .categoriesTopic {
           display: contents;

       }

       .categoriesTopic h1 {
           text-align: center;
           order: 1;
           margin-bottom: 1rem;
       }

       .categoriesList {
           order: 2;
       }

       .categoriesTopic button {
           order: 3;
           align-self: center;
           max-width: max-content;
           margin-top: 1rem;
           transition: none;
       }

       .categoriesTopic button {
           transform: none;
       }

       .categoriesList ul {
           display: grid;
           grid-template-columns: 1fr 1fr;
           gap: 1rem;
           margin: 0.5rem;
       }

       .categoriesBreakfast,
       .categoriesVegan,
       .categoriesMeat,
       .categoriesDessert,
       .categoriesLunch,
       .categoriesChocolate {
           cursor: none;
       }

       /* Simple and tasty recipes */
       .simpleAndTastyCardListOne,
       .simpleAndTastyCardListTwo,
       .simpleAndTastyCardListThree {
           display: flex;
           flex-direction: column;
       }

       .simpleAndTastyCardListOne,
       .simpleAndTastyCardListTwo {
           margin-bottom: 0;
       }

       .simpleAndTastyCardListOne .verticalCard,
       .simpleAndTastyCardListTwo .verticalCard,
       .simpleAndTastyCardListThree .verticalCard {
           margin: 1rem auto;
       }

       .simpleAndTastyCardListTwo .simpleAndTastyCardAdsBadge {
           display: none;
       }

       /* Learn More Container */
       .learnMoreContainer {
           display: grid;
           grid-template-columns: 1fr;
       }

       .learnMoreFirstCol {
           order: 2;
           transform: none;
           text-align: center;
       }

       .learnMoreSecCol {
           margin-bottom: 1rem;
       }

       .learnMoreSecCol {
           order: 1;
       }

       .learnMoreSecColBackGround {
           border-radius: 0px;
       }

       /* Check Out Container */
       .checkOutInstagram {
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           row-gap: 1rem;
       }

       .checkOutContainer h1 {
           text-wrap: balance;
           line-height: 1.2;
       }

       .checkOutInstagram img {
           justify-self: center;
       }

       .visitInstagramBtn {
           cursor: none;
       }

       /* Delicious Recipe Container */
       .deliRecipeTopic {
           justify-content: center;
           flex-direction: column;
           text-align: center;
           margin-inline: 0.5rem;
       }

       .deliRecipeBodyFirstRow,
       .deliRecipeBodySecRow {
           flex-direction: column;
       }

       .deliRecipeBodyFirstRow {
           margin-bottom: 0;
       }

       .deliRecipeBodyFirstRow .verticalCard,
       .deliRecipeBodySecRow .verticalCard {
           margin-bottom: 1.5rem;
       }

       /* Inbox Container */
       .inbox_Container {
           margin-top: 160px;
       }

       /* Inbox Container */
       .inbox_Container .inBoxComp {
           --inbox-border-radius: 0;
           --inbox-emailbox-direction: column;
           --inbox-bgimg-border-radius: 0;
       }
   }

   @media only screen and (min-width: 320px) and (max-width: 480px) {
       .homeContainer {
           margin-top: 0;
       }

       /* Carousel Container */
       .carouselWrapper {
           width: 100vw;
           margin-left: calc((100% - 100vw) / 2);
       }

       .carouselContainer {
           border-radius: 0;
           box-shadow: none;
       }

       .featureRecipeContainer {
           flex-direction: column-reverse;
           align-items: normal;
       }

       .recipesBadge {
           top: unset;
           left: unset;
           bottom: 1rem;
           right: 1rem;
       }

       .recipesBadge img {
           width: 6.25rem;
       }

       .featureRecipeFirstCol {
           max-width: 100%;
       }

       .featureRecipeSecCol {
           max-width: 100%;
       }

       .recipeImageContainer {
           border-radius: 0;
       }

       .featureRecipeBlog {
           display: flex;
           flex-direction: column;
           gap: 1rem;
       }

       .featureRecipeTopic,
       .featureRecipeDetail {
           text-align: center;
       }

       .featureRecipeType {
           display: flex;
           justify-content: center;
       }

       .featureRecipeProfile {
           display: flex;
           flex-direction: column;
           text-align: center;
       }

       .viewRCButton {
           cursor: none;
           transition: none;
       }

       .viewRCButton:hover {
           transform: none;
       }

       /* Categories Container */
       .categoriesContainer {
           display: flex;
           flex-direction: column;
       }

       .categoriesTopic {
           display: contents;
       }

       .categoriesTopic h1 {
           text-align: center;
           order: 1;
           margin-bottom: 1rem;
       }

       .categoriesList {
           order: 2;
       }

       .categoriesTopic button {
           order: 3;
           align-self: center;
           max-width: max-content;
           margin-top: 1rem;
           transition: none;
       }

       .categoriesTopic button {
           transform: none;
       }

       .categoriesList ul {
           display: grid;
           grid-template-columns: 1fr 1fr;
           gap: 1rem;
           margin: 0.5rem;
       }

       .categoriesBreakfast,
       .categoriesVegan,
       .categoriesMeat,
       .categoriesDessert,
       .categoriesLunch,
       .categoriesChocolate {
           cursor: none;
       }

       /* Simple and tasty recipes */
       .simpleAndTastyCardListOne,
       .simpleAndTastyCardListTwo,
       .simpleAndTastyCardListThree {
           display: flex;
           flex-direction: column;
       }

       .simpleAndTastyCardListOne,
       .simpleAndTastyCardListTwo {
           margin-bottom: 0;
       }

       .simpleAndTastyCardListOne .verticalCard,
       .simpleAndTastyCardListTwo .verticalCard,
       .simpleAndTastyCardListThree .verticalCard {
           margin: 1rem auto;
       }

       .simpleAndTastyCardListTwo .simpleAndTastyCardAdsBadge {
           display: none;
       }

       /* Learn More Container */
       .learnMoreContainer {
           display: grid;
           grid-template-columns: 1fr;
           justify-self: center;
       }

       .learnMoreFirstCol {
           order: 2;
           transform: none;
           text-align: center;
       }

       .learnMoreSecCol {
           margin-bottom: 1rem;
       }

       .learnMoreSecCol {
           order: 1;
       }

       .learnMoreSecColBackGround {
           border-radius: 0px;
           width: 100vw;
           height: 20rem;
           right: unset;
           left: calc(50% - 50vw);
       }

       /* Check Out Container */
       .checkOutInstagram {
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           row-gap: 1rem;
       }

       .checkOutContainer h1 {
           text-wrap: balance;
           line-height: 1.2;
       }

       .checkOutInstagram img {
           justify-self: center;
       }

       .visitInstagramBtn {
           cursor: none;
       }

       /* Delicious Recipe Container */
       .deliRecipeTopic {
           justify-content: center;
           flex-direction: column;
           text-align: center;
           margin-inline: 0.5rem;
       }

       .deliRecipeBodyFirstRow,
       .deliRecipeBodySecRow {
           flex-direction: column;
       }

       .deliRecipeBodyFirstRow {
           margin-bottom: 0;
       }

       .deliRecipeBodyFirstRow .verticalCard,
       .deliRecipeBodySecRow .verticalCard {
           margin-bottom: 1.5rem;
       }

       /* Inbox Container */
       .inbox_Container {
           margin-top: 160px;
       }

       /* Inbox Container */
       .inbox_Container .inBoxComp {
           width: 100vw;
           margin-left: calc(-50vw + 50%);
           --inbox-border-radius: 0;
           --inbox-padding: 2.5rem 0.5rem;
           --inbox-emailbox-direction: column;
           --inbox-bgimg-border-radius: 0;
       }
   }