.rd_Container {
    margin: 80px auto;
    max-width: 1280px;
}

/* Recipe Detail */
.rd_Header {
    display: flex;
    margin-bottom: 64px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rd_Topic {
    flex: 1;
    max-width: 800px;
}

.rd_Topic h1 {
    font-size: 54px;
    font-weight: 600;
}

.rd_Author {
    margin-top: 48px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rd_AuthorName {
    display: flex;
    gap: 16px;
}

.rd_AuthorInfo h1 {
    font-size: 16px;
    font-weight: 800;
}

.rd_AuthorInfo p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.rd_PrepTime {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.rd_PrepTime svg {
    width: 24px;
    height: 24px;
}

.rd_PrepTimeInfo h1 {
    font-size: 14px;
    font-weight: 500;
}

.rd_PrepTimeInfo p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.rd_CookTime {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.rd_CookTime svg {
    width: 24px;
    height: 24px;
}

.rd_CookTimeInfo h1 {
    font-size: 14px;
    font-weight: 500;
}

.rd_CookTimeInfo p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.rd_Category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rd_Category svg {
    width: 24px;
    height: 24px;
}

.rd_Category p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.rd_PrintShare {
    flex: 1;
    max-width: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 32px;
    margin-top: 24px;
}

.rd_PrintBtn div {
    background: #E7FAFE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-bottom: 16px;
    cursor: pointer;
}

.rd_PrintBtn div svg {
    width: 24px;
    height: 24px;
}

.rd_PrintBtn p {
    font-size: 12px;
    font-weight: 500;
}

.rd_ShareBtn div {
    background: #E7FAFE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-bottom: 16px;
    cursor: pointer;
}

.rd_ShareBtn div svg {
    width: 24px;
    height: 24px;
}

.rd_ShareBtn p {
    font-size: 12px;
    font-weight: 500;
}

/* Recipe Detail Body */
.rd_BodyHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.rd_BodyHeader img {
    width: 840px;
    height: 600px;
    border-radius: 30px;
}

.nutritionInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #E7FAFE;
    padding: 32px;
    border-radius: 30px;
    width: 400px;
    height: 600px;
}

.nutritionInfo h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}


.nutritionInfo_Calories,
.nutritionInfo_TotalFat,
.nutritionInfo_Protein,
.nutritionInfo_Carbohydrate,
.nutritionInfo_Cholesterol {
    display: flex;
    padding-bottom: 16px;
    justify-content: space-between;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nutritionInfo_CaloriesTopic,
.nutritionInfo_TotalFatTopic,
.nutritionInfo_ProteinTopic,
.nutritionInfo_CarbohydrateTopic,
.nutritionInfo_CholesterolTopic {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.nutritionInfo_CaloriesDetail,
.nutritionInfo_TotalFatDetail,
.nutritionInfo_ProteinDetail,
.nutritionInfo_CarbohydrateDetail,
.nutritionInfo_CholesterolDetail {
    font-size: 18px;
    font-weight: 500;
}

.nutritionInfo_DetailDeScript {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: auto;
    text-align: center;
}

.rd_BodyDetail {
    margin-top: 80px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

/* Recipe Detail Section 2 */
.rd_SectionTwo {
    margin-top: 80px;
    display: flex;
    gap: 40px;
}

.rd_Ingredients {
    flex: 1;
    max-width: 840px;
}

.rd_Ingredients h1 {
    font-size: 36px;
    font-weight: 600;
}

.rd_ForMainDish {
    margin-top: 48px;
}

.rd_ForMainDish h1, .rd_ForTheSauce h1 {
    font-size: 24px;

}

.rd_ForTheSauce {
    margin-top: 64px;
    flex: 1;
    max-width: 840px;
}

.rd_OtherRecipe {
    flex: 1;
    max-width: 400px;
}

.rd_OtherRecipe h1 {
    font-size: 32px;
    font-weight: 600;
}

.rd_OtherRecipeList {
    margin: 32px 0 80px;
    
}

/* Recipe Detail Section Three */
.rd_SectionThree {
    margin-top: 88px;
    width: 840px;
}

.rd_DirectionsTopic {
    font-size: 36px;
    font-weight: 600;
}

.rd_DirectionsListOne {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.rd_DirectionsListOneDetail {
    padding: 0 0 48px 48px;
}

.checkBox_DirectionOne, .checkBox_DirectionTwo, .checkBox_DirectionThree {
    border-bottom: 0;
    font-size: 24px;
    font-weight: 600;
}



