.recipeDetailContainer {
    margin: 80px auto;
    max-width: 1280px;
}

/* Recipe Detail */
.recipeDetailHeader {
    display: flex;
    margin-bottom: 64px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.recipeDetailTopic {
    flex: 1;
    max-width: 800px;
}

.recipeDetailTopic h1 {
    font-size: 54px;
    font-weight: 600;
}

.recipeDetailAuthor {
    margin-top: 48px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipeDetailAuthorName {
    display: flex;
    gap: 16px;
}

.recipeDetailAuthorInfo h1 {
    font-size: 16px;
    font-weight: 800;
}

.recipeDetailAuthorInfo p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.recipeDetailPrepTime {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.recipeDetailPrepTime svg {
    width: 24px;
    height: 24px;
}

.recipeDetailPrepTimeInfo h1 {
    font-size: 14px;
    font-weight: 500;
}

.recipeDetailPrepTimeInfo p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.recipeDetailCookTime {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.recipeDetailCookTime svg {
    width: 24px;
    height: 24px;
}

.recipeDetailCookTimeInfo h1 {
    font-size: 14px;
    font-weight: 500;
}

.recipeDetailCookTimeInfo p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.recipeDetailCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.recipeDetailCategory svg {
    width: 24px;
    height: 24px;
}

.recipeDetailCategory p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.recipeDetailPrintShare {
    flex: 1;
    max-width: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 32px;
    margin-top: 24px;
}

.recipeDetailPrintBtn div {
    background: #E7FAFE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-bottom: 16px;
    cursor: pointer;
}

.recipeDetailPrintBtn div svg {
    width: 24px;
    height: 24px;
}

.recipeDetailPrintBtn p {
    font-size: 12px;
    font-weight: 500;
}

.recipeDetailShareBtn div {
    background: #E7FAFE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-bottom: 16px;
    cursor: pointer;
}

.recipeDetailShareBtn div svg {
    width: 24px;
    height: 24px;
}

.recipeDetailShareBtn p {
    font-size: 12px;
    font-weight: 500;
}

/* Recipe Detail Body */
.recipeDetailBody_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.recipeDetailBody_Header img {
    width: 840px;
    height: 600px;
    border-radius: 30px;
}

.nutritionInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #E7FAFE;
    padding: 32px;
    border-radius: 30px;
    width: 400px;
    height: 600px;
}

.nutritionInfo h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}


.nutritionInfo_Calories,
.nutritionInfo_TotalFat,
.nutritionInfo_Protein,
.nutritionInfo_Carbohydrate,
.nutritionInfo_Cholesterol {
    display: flex;
    padding-bottom: 16px;
    justify-content: space-between;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nutritionInfo_CaloriesTopic,
.nutritionInfo_TotalFatTopic,
.nutritionInfo_ProteinTopic,
.nutritionInfo_CarbohydrateTopic,
.nutritionInfo_CholesterolTopic {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.nutritionInfo_CaloriesDetail,
.nutritionInfo_TotalFatDetail,
.nutritionInfo_ProteinDetail,
.nutritionInfo_CarbohydrateDetail,
.nutritionInfo_CholesterolDetail {
    font-size: 18px;
    font-weight: 500;
}

.nutritionInfo_DetailDeScript {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: auto;
    text-align: center;
}

.recipeDetail_BodyDetail {
    margin-top: 80px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

/* Recipe Detail Section 2 */
.recipeDetail_SectionTwo {
    margin-top: 80px;
    display: flex;
    gap: 40px;
}

.recipeDetail_Ingredients {
    flex: 1;
    max-width: 840px;
}

.recipeDetail_Ingredients h1 {
    font-size: 36px;
    font-weight: 600;
}

.recipeDetail_ForMainDish {
    margin-top: 48px;
}

.recipeDetail_ForMainDish h1 {
    font-size: 24px;

}

.recipeDetail_OtherRecipe {
    flex: 1;
    max-width: 400px;
}

.recipeDetail_OtherRecipe h1 {
    font-size: 32px;
    font-weight: 600;
}

.recipeDetail_ForTheSauce {
    margin-top: 64px;
    flex: 1;
    max-width: 840px;
}