.rd_Container {
    margin: 80px auto;
    max-width: 1280px;
}

/* Recipe Detail */
.rd_Header {
    display: flex;
    margin-bottom: 64px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rd_Topic {
    flex: 1;
    max-width: 800px;
}

.rd_Topic h1 {
    font-size: 64px;
    font-weight: 600;
}

.rd_Author {
    margin-top: 48px;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rd_AuthorName {
    display: flex;
    gap: 16px;
    padding-right: 58px;
}

.rd_AuthorName img {
    width: 50px;
    height: 50px;
}

.rd_AuthorInfo h1 {
    font-size: 16px;
    font-weight: 800;
}

.rd_AuthorInfo p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.rd_PrepTime {
    padding: 5px 32px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.rd_PrepTime svg {
    width: 24px;
    height: 24px;
}

.rd_PrepTimeInfo h1 {
    font-size: 14px;
    font-weight: 500;
}

.rd_PrepTimeInfo p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.rd_CookTime {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.rd_CookTime svg {
    width: 24px;
    height: 24px;
}

.rd_CookTimeInfo h1 {
    font-size: 14px;
    font-weight: 500;
}

.rd_CookTimeInfo p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.rd_Category {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 13px 0 13px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rd_Category svg {
    width: 24px;
    height: 24px;
}

.rd_Category p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.rd_PrintShare {
    flex: 1;
    max-width: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 32px;
    margin-top: 24px;
}

.rd_PrintBtn div {
    background: #E7FAFE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-bottom: 16px;
    cursor: pointer;
}

.rd_PrintBtn div svg {
    width: 24px;
    height: 24px;
}

.rd_PrintBtn p {
    font-size: 12px;
    font-weight: 500;
}

.rd_ShareBtn div {
    background: #E7FAFE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-bottom: 16px;
    cursor: pointer;
}

.rd_ShareBtn div svg {
    width: 24px;
    height: 24px;
}

.rd_ShareBtn p {
    font-size: 12px;
    font-weight: 500;
}

/* Recipe Detail Body */
.rd_BodyHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.rd_BodyHeader img {
    width: 840px;
    height: 600px;
    border-radius: 30px;
}

.nutritionInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #E7FAFE;
    padding: 32px;
    border-radius: 30px;
    width: 400px;
    height: 600px;
}

.nutritionInfo h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}


.nutritionInfo_Calories,
.nutritionInfo_TotalFat,
.nutritionInfo_Protein,
.nutritionInfo_Carbohydrate,
.nutritionInfo_Cholesterol {
    display: flex;
    padding-bottom: 16px;
    justify-content: space-between;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nutritionInfo_CaloriesTopic,
.nutritionInfo_TotalFatTopic,
.nutritionInfo_ProteinTopic,
.nutritionInfo_CarbohydrateTopic,
.nutritionInfo_CholesterolTopic {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.nutritionInfo_CaloriesDetail,
.nutritionInfo_TotalFatDetail,
.nutritionInfo_ProteinDetail,
.nutritionInfo_CarbohydrateDetail,
.nutritionInfo_CholesterolDetail {
    font-size: 18px;
    font-weight: 500;
}

.nutritionInfo_DetailDeScript {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: auto;
    text-align: center;
}

.rd_BodyDetail {
    margin-top: 80px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

/* Recipe Detail Section 2 */
.rd_SectionTwo {
    margin-top: 80px;
    display: flex;
    gap: 40px;
}

.rd_Ingredients {
    flex: 1;
    max-width: 840px;
}

.rd_Ingredients h1 {
    font-size: 36px;
    font-weight: 600;
}

.rd_ForMainDish {
    margin-top: 48px;
}

.rd_ForMainDish h1,
.rd_ForTheSauce h1 {
    font-size: 24px;

}

.rd_ForTheSauce {
    margin-top: 64px;
    flex: 1;
    max-width: 840px;
}

.rd_OtherRecipe {
    flex: 1;
    max-width: 400px;
}

.rd_OtherRecipe h1 {
    font-size: 32px;
    font-weight: 600;
}

.rd_OtherRecipeList {
    margin: 32px 0 80px;
}

/* Recipe Detail Section Three */
.rd_SectionThree {
    margin-top: 88px;
    width: 840px;
}

.rd_DirectionsTopic {
    font-size: 36px;
    font-weight: 600;
}

.rd_DirectionsListOne,
.rd_DirectionsListTwo,
.rd_DirectionsListThree {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.checkBox_DirectionOne,
.checkBox_DirectionTwo,
.checkBox_DirectionThree {
    border-bottom: 0;
    font-size: 24px;
    font-weight: 600;
}

.rd_DirectionsListOneDetail,
.rd_DirectionsListTwoDetail,
.rd_DirectionsListThreeDetail {
    padding: 0 0 48px 48px;
}

.rd_DirectionsListOneDetail img {
    margin: 48px 0 48px 0;
    width: 100%;
}

/* Recipe Detail Section Four */
.rd_SectionFour {
    margin-top: 160px;
}

/* Recipe Detail Section Five */
.rd_SectionFive {
    margin: 160px 0 160px 0;
    align-items: center;
    justify-content: center;
}

.rd_SectionFiveTopic {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.rd_RecipeTooDetail {
    --card-image-height: 200px;
    display: flex;
    margin-top: 80px;
}

.rd_RecipeTooDetail>div {
    min-width: 290px !important;
    height: 316px !important;
    background: white !important;
    padding: 0 !important;
}

.rd_RecipeTooDetail h1 {
    font-size: 18px !important;
    font-weight: 600 !important;
}

.rd_RecipeTooDetail div {
    font-size: 14px !important;
}

@media screen and (max-width: 1280px) {
    .rd_Container {
        max-width: 1024px;
    }

    /* Recipe Detail */
    .rd_Topic {
        max-width: 775px;
    }

    .rd_Topic h1 {
        font-size: 54px;
    }

    .rd_Author {
        margin-top: 40px;
        max-width: 625px;
    }

    .rd_AuthorName {
        padding-right: 28px;
    }

    .rd_AuthorName img {
        width: 40px;
        height: 40px;
    }

    .rd_AuthorInfo h1 {
        font-size: 15px;
        font-weight: 800;
    }

    .rd_AuthorInfo p {
        font-size: 13px;
    }

    .rd_PrepTime {
        padding: 5px 28px;
        gap: 12px;
    }

    .rd_PrepTimeInfo h1,
    .rd_CookTimeInfo h1 {
        font-size: 14px;
    }

    .rd_PrepTimeInfo p,
    .rd_CookTimeInfo p,
    .rd_Category p {
        font-size: 14px;
    }

    .rd_CookTime {
        padding: 5px 28px;
        gap: 12px;
    }

    .rd_CookTime svg,
    .rd_PrepTime svg,
    .rd_Category svg {
        width: 22px;
        height: 22px;
    }

    .rd_Category {
        padding: 13px 0 13px 28px;
        gap: 12px;
    }

    .rd_PrintShare {
        gap: 28px;
    }

    .rd_PrintBtn div,
    .rd_ShareBtn div {
        width: 60px;
        height: 60px;
    }

    .rd_PrintBtn div svg,
    .rd_ShareBtn div svg {
        width: 22px;
        height: 22px;
    }

    /* Recipe Detail Body */
    .rd_BodyHeader {
        gap: 24px;
    }

    .rd_BodyHeader img {
        width: 680px;
        height: 500px;
    }

    .nutritionInfo {
        padding: 28px;
        width: 320px;
        height: 500px;
    }

    .nutritionInfo h1 {
        font-size: 18px;
    }

    .nutritionInfo_Calories,
    .nutritionInfo_TotalFat,
    .nutritionInfo_Protein,
    .nutritionInfo_Carbohydrate,
    .nutritionInfo_Cholesterol {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .nutritionInfo_CaloriesTopic,
    .nutritionInfo_TotalFatTopic,
    .nutritionInfo_ProteinTopic,
    .nutritionInfo_CarbohydrateTopic,
    .nutritionInfo_CholesterolTopic {
        font-size: 14px;

    }

    .nutritionInfo_CaloriesDetail,
    .nutritionInfo_TotalFatDetail,
    .nutritionInfo_ProteinDetail,
    .nutritionInfo_CarbohydrateDetail,
    .nutritionInfo_CholesterolDetail {
        font-size: 14px;
    }

    .nutritionInfo_DetailDeScript {
        font-size: 14px;
    }

    .rd_BodyDetail {
        font-size: 14px;
    }

    /* Recipe Detail Section 2 */
    .rd_SectionTwo {
        gap: 24px;
    }

    .rd_Ingredients {
        max-width: 680px;
    }

    .rd_Ingredients h1 {
        font-size: 32px;
    }

    .rd_ForMainDish {
        margin-top: 40px;
    }

    .rd_ForMainDish h1,
    .rd_ForTheSauce h1 {
        font-size: 22px;
    }

    .rd_ForTheSauce {
        margin-top: 60px;
        max-width: 680px;
    }

    .rd_OtherRecipe {
        max-width: 320px;
    }

    .rd_OtherRecipe h1 {
        font-size: 28px;
    }

}