.searchContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: var(--search-width);
}

.searchInput {
  width: 100%;
  height: var(--search-input-height);
  padding: var(--search-input-padding);
  border: 1px solid #ddd;
  border-radius: 24px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

.searchInput:focus {
  border-color: black;
}

.searchInputWrapper {
  position: relative;
  flex: 1;
}

.searchPlaceholder {
  position: absolute;
  left: var(--search-input-padding);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #999;
  font-size: 16px;
  line-height: 1.4;
  white-space: normal;
  /* ← ให้ wrap */
  max-width: 50%;
  /* ← กันไม่ให้ทับปุ่ม Search */
}

.searchInput::placeholder {
  color: #999;
}

.searchButton {
  position: absolute;
  right: 0.5rem;
  background: black;
  border: none;
  cursor: pointer;
  padding: var(--search-btn-padding);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: color 0.3s;
  font-size: clamp(0.875rem, 1.0417rem + -0.2083vw, 1rem);
  font-weight: 600;
}

.searchButton:hover {
  color: #E7f9fd;
}