.searchContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 700px;
}

.searchInput {
  width: 100%;
  height: 80px;
  padding: 32px;
  border: 1px solid #ddd;
  border-radius: 24px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

.searchInput:focus {
  border-color: black;
}

.searchInput::placeholder {
  color: #999;
}

.searchButton {
  position: absolute;
  right: 8px;
  background: black;
  border: none;
  cursor: pointer;
  padding: 21px 57px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: color 0.3s;
  font-size: 14px;
  font-weight: 600;
}

.searchButton:hover {
  color: #E7f9fd;
}